<div class="left-sidebar">
    <h2>Category</h2>
    <partial name="Partial/_CategoryProducts"/>
    <partial name="Partial/_BrandsProducts"/>
    <partial name="Partial/_PriceRange"/>
    
    <partial name="Partial/_Shipping"/>
</div>